{% if customer.tags contains 'pawpatrol_request' %}
  {% assign pawPatrolSiteLink = customer.metafields.customer.account_reset_url %}
  {% assign shopURL = pawPatrolSiteLink %}
  {% assign shopName = 'PAW Patrol' %}
  {% assign URL = shop.url | append: "/account/reset" %}
  {% assign conURL = pawPatrolSiteLink | append: "/reset-password?reset=" %}
  {% assign conURLs = customer.reset_password_url | replace: URL, conURL %}
  {% assign resetURL = conURLs | append: "&utm_source=automated_email&utm_medium=email&utm_campaign=reset_password&utm_content=reset_password&utm_term=body" %}
  {% assign shopLogo = 'https://images.ctfassets.net/r3qu44etwf9a/41M8iH0uQzVaSb7lNClpkj/bc64b830a3179a40aec98f25ceff7050/main-logo.svg' %}

{% else %}
  {% assign shopURL = shop.url %}
  {% assign shopName = shop.name %}
  {% assign conURLs = customer.reset_password_url %}
  {% assign resetURL = conURLs | append: "?utm_source=automated_email&utm_medium=email&utm_campaign=reset_password&utm_content=reset_password&utm_term=body" %} 
  {% assign shopLogo = shop.email_logo_url %}
{% endif %}

{% capture email_title %}Reset your password{% endcapture %}
{% capture email_body %}Follow this link to reset your customer account password at <a href="{{shopURL}}">{{shopName}}</a>. If you didn't request a new password, you can safely delete this email.{% endcapture %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell { background: {{ shop.email_accent_color }}; }
    a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
  </style>
</head>

  <body>
    <table class="body">
      <tr>
        <td>
          <table class="header row">
  <tr>
    <td class="header__cell">
      <center>

        <table class="container">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="shop-name__cell">
                    {%- if shop.email_logo_url %}
                      <img src="{{shopLogo}}" alt="{{ shopName }}" width="{{ shop.email_logo_width }}">
                    {%- else %}
                      <h1 class="shop-name__text">
                        <a href="{{shopURL}}?utm_source=automated_email&utm_medium=email&utm_campaign=reset_password&utm_content=visit_store&utm_term=body">{{ shopName }}</a>
                      </h1>
                    {%- endif %}
                  </td>

                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

          <table class="row content">
  <tr>
    <td class="content__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              
            <h2>{{ email_title }}</h2>
            <p>{{ email_body }}</p>
            <table class="row actions">
  <tr>
    <td class="empty-line">&nbsp;</td>
  </tr>
  <tr>
    <td class="actions__cell">
      <table class="button main-action-cell">
        <tr>
          <td class="button__cell"><a href="{{ resetURL }}" class="button__text">Reset your password</a></td>
        </tr>
      </table>
      {% if shop.url %}
    <table class="link secondary-action-cell">
      <tr>
        <td class="link__cell">or <a href="{{ shopURL }}?utm_source=automated_email&utm_medium=email&utm_campaign=reset_password&utm_content=visit_store&utm_term=body">Visit our store</a></td>
      </tr>
    </table>
{% endif %}

    </td>
  </tr>
</table>


            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
          <table class="row footer">
  <tr>
    <td class="footer__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              
              <p class="disclaimer__subtext">If you have any questions, reply to this email or contact us at <a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
            </td>
          </tr> 
        </table>
      </center>
    </td>
  </tr>
</table> 

<img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

        </td>
      </tr>
    </table>
  </body>
</html>
