{% if customer.tags contains 'spinmaster_user' %}
  {% assign shopURL  = shop.url %}
  {% assign shopName = shop.name %}
  {% assign shopLogo = shop.email_logo_url %}

{% else %}
  {% assign shopURL  = 'https://dev.pawpatrol.com/shop?utm_source=automated_email&utm_medium=email&utm_campaign=entry&utm_content=visit_our_store&utm_term=body' %}
  {% assign shopName = 'PAW Patrol' %}
  {% assign shopLogo = 'https://images.ctfassets.net/r3qu44etwf9a/41M8iH0uQzVaSb7lNClpkj/bc64b830a3179a40aec98f25ceff7050/main-logo.svg' %}

{% endif %}

{% capture email_title %}Welcome to {{ shopName }}!{% endcapture %}
{% capture email_body %}You've activated your customer account. Next time you shop with us, log in for faster checkout.{% endcapture %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell { background: {{ shop.email_accent_color }}; }
    a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
  </style>
</head>

  <body>
    <table class="body">
      <tr>
        <td>
          <table class="header row">
  <tr>
    <td class="header__cell">
      <center>

        <table class="container">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="shop-name__cell">
                    {%- if shop.email_logo_url %}
                      <img src="{{shopLogo}}" alt="{{ shopName }}" width="{{ shop.email_logo_width }}">
                    {%- else %}
                      <h1 class="shop-name__text">
                        <a href="{{shopURL}}">{{ shopName }}</a>
                      </h1>
                    {%- endif %}
                  </td>

                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

          <table class="row content">
  <tr>
    <td class="content__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              
            <h2>{{ email_title }}</h2>
            <p>{{ email_body }}</p>
            {% if shop.url %}
              <table class="row actions">
                <tr>
                  <td class="actions__cell">
                    <table class="button main-action-cell">
                      <tr>
                        <td class="button__cell"><a href="{{ shopURL }}" class="button__text">Visit our store</a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            {% endif %}

            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
          <table class="row footer">
  <tr>
    <td class="footer__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              
              <p class="disclaimer__subtext">If you have any questions, reply to this email or contact us at <a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

<img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

        </td>
      </tr>
    </table> <div style="display:none"> Customer: 
    {% if customer.tags contains 'spinmaster_user' %}
     Spin Master
    {% endif %}
</div> 
  </body>
</html>
