{% comment %} We added this check to find from where user come and change the LOGO, Display None some fields and all that {% endcomment %}
  {% assign hasPawPatrolStoreFrontRequest = false %}
  {% if order.id != blank %} 
    {% for attribute in order.attributes %}
     {% if attribute.first == 'pawpatrol' and attribute.last == 'storefront'%}
      {% assign hasPawPatrolStoreFrontRequest = true %}
     {% endif %} 
     {% if attribute.first == 'pawpatrolurl' %} 
      {% assign dynamicURL = attribute.last %}
     {% endif %} 
    {% endfor %}
  {% else %}
    {% for attribute in checkout.attributes %}
     {% if attribute.first == 'pawpatrol' and attribute.last == 'storefront'%}
      {% assign hasPawPatrolStoreFrontRequest = true %}
     {% endif %}
     {% if attribute.first == 'pawpatrolurl' %} 
      {% assign dynamicURL = attribute.last %}
     {% endif %} 
    {% endfor %}
  {% endif %}
  
{% comment %} END {% endcomment %}

{% if hasPawPatrolStoreFrontRequest %}

{% assign min = 65 %}
{% assign max = 80 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
  
  {% assign pawPatrolLogo = 'https://cdn.shopify.com/s/files/1/0614/8030/4885/files/main-site-logo.svg?v=' | append: randomNumber%}
  
  {% assign pawPatrolSiteLink = dynamicURL %}
{% endif %}
    
<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <input id="dis1" type="hidden" name="dis1" value="" />
  <head>
    
  {% if hasPawPatrolStoreFrontRequest %}
    
       <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NWVHZXG');</script>
      <!-- End Google Tag Manager -->
    
    {% else %}
    
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MTN9TKNR');</script>
    <!-- End Google Tag Manager -->
    
  {% endif %}
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    {% if hasPawPatrolStoreFrontRequest %}
       {{ 'paw-patrol-style.css' | asset_url | stylesheet_tag }}
       <script>
          function getQueryStringParameter(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
            var results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
          }
         (function($) {
            $(document).on("page:load page:change", function() {

               $(".cart__breadcrumb").remove();
               $(".main__header .breadcrumb").prepend('<li class="cart__breadcrumb breadcrumb__item breadcrumb__item--completed"><a class="breadcrumb__link" href="{{ pawPatrolSiteLink }}/cart">Cart</a><svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" aria-hidden="true" focusable="false"> <use xlink:href="#chevron-right"></use> </svg></li>');

               let checkoutStep = Shopify.Checkout.step;
               if(checkoutStep == "contact_information"){
                 $("#continue_button").parent('.step__footer').addClass('paw-footer');
                 $("#continue_button").before('<div class="paw-footer-return"><a class="storefront-return" href="{{ pawPatrolSiteLink }}/cart">Return to cart</a></div>');
               } else {
                 $(".storefront-return").remove();
                 $("#continue_button").parent('.step__footer').removeClass('paw-footer');
               }  
              
               const element = $("#checkout_shipping_address_country").closest('div').find('label');
              
               const textToReplace = element.text();
               const newText = textToReplace.replace("/", " / ");
               element.text(newText); 
               
               $("#checkout_remember_me").closest('.field--show-floating-label').hide();
               $("#checkout_buyer_accepts_marketing").closest('div').next('label').text('Keep me up to date on news and exclusive offers');

               var $element = $('main .step');
               var dataValue = $element.data('step');
               
               if (dataValue === 'stock_problems') {
                 $("#continue_button").parent('.step__footer').addClass('paw-footer');
                 $("#continue_button").before('<div class="paw-footer-return"><a class="storefront-return" href="{{ pawPatrolSiteLink }}/cart">Return to cart</a></div>');
                 $("#continue_button, .product__status--sold-out, .product__status--reduced").hide();
               }
              
               if (dataValue === 'thank_you') {
                 $element.addClass('step-thank-you');
                 $(".section:first form").hide();
                 $(".content-box:first, .step__footer").hide();
                 $("#main-header").after('<span class="main_header_cus_text">You’ll receive a confirmation email with your order number shortly.</span>')
                 $(".step__footer").after('<div class="thankyou_step__footer"><p class="step__footer__info step__footer_thankyou"><a class="need-help" data-contact-us-link="true" href="mailto:MichaelD@spinmaster.com">Need help?</a></p><a href="{{ pawPatrolSiteLink }}/category?revalidate=true" class="btn">Continue shopping</></div>')
                
                const targetElement = $('h2').filter(function() {
                  return $.trim($(this).text()) === 'Order details';
                });
                
                const repText = targetElement.text().replace('Order details', 'Customer information');
                targetElement.text(repText);
                 
               } else {
                 $element.removeClass('step-thank-you');
                 $(".section:first form").show();
                 $(".content-box:first, .step__footer").show();
                 $(".main_header_cus_text, .thankyou_step__footer").remove();
               }

              var getQueryString = getQueryStringParameter('cm');
              if(getQueryString !== null) {
                var decode = atob(getQueryString);
                $('#checkout_email').val(decode);
              }
            });
          })(Checkout.$);
         
       </script>
    {% endif %}
  
  </head>
  <body>
    
  {% if hasPawPatrolStoreFrontRequest %}
    
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWVHZXG"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
  {% else %}
    
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTN9TKNR"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
  {% endif %}  
    
    {{ skip_to_content_link }}
        
    <header class="banner" data-header role="banner">
      <div class="wrap">
        {% if hasPawPatrolStoreFrontRequest %}
              <a href="{{ pawPatrolSiteLink }}" class="logo logo--left paw--logo paw--logo-wrap">
                <img alt="SM-Teststore2" class="logo__image logo__image--large" src="{{ pawPatrolLogo }}">
              </a>
              {% else %}
              {{ content_for_logo }}
            {% endif %}
      </div>
    </header>
    
    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main {% if hasPawPatrolStoreFrontRequest %} paw-patrol-main {% endif %}">
          <header class="main__header" role="banner">
            {% if hasPawPatrolStoreFrontRequest %}
              <a class="logo logo--left paw--logo paw--logo-main" href="{{ pawPatrolSiteLink }}">
                <img alt="SM-Teststore2" class="logo__image logo__image--large" src="{{ pawPatrolLogo }}">
              </a> 
              {% else %}
              {{ content_for_logo }}
            {% endif %} 
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        {% comment %}
        customer::{{ checkout.customer.email }}
        {% endcomment %}
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content {% if hasPawPatrolStoreFrontRequest %} paw-patrol-sidebar {% endif %}">
            {{ content_for_order_summary }}
          </div> 
        </aside>
      </div>
    </div>
    {{ tracking_code }}
    <script>      
      var checkoutStep = Shopify.Checkout.step;
      var locale = "{{ locale }}";        
      var country = locale.split("en-"); 
      var marketCountry = country[1];
      if($("#checkout_shipping_address_id").length > 0){
      	$("#checkout_shipping_address_id option").each(function(){
      		var properties = $(this).attr("data-properties");
      		if(typeof(properties) !== "undefined" && properties !== false){
      			var jsonProperties = JSON.parse(properties);
      			var addressCountry = jsonProperties.country_code;
      			if(country[1] != addressCountry){
      				$(this).remove();
      			}
      		}		
      	}) 
      }
      $("#checkout_shipping_address_country option").each(function() {                
        if(country[1] != $(this).attr("data-code")){
          $(this).remove();
        }
      }); 
      setTimeout (function(){
        $("#checkout_shipping_address_country option[data-code='" +country[1] + "']").prop("selected",true);
      }, 500);

      if(checkoutStep == "contact_information"){
        $("#continue_button").click(function(){
           var coupon_code1 = jQuery('#checkout_reduction_code').val();
        
          $(".shopifyInformationError").remove();
          var flagReturn = true;
          if($("#checkout_shipping_address_zip").val() != ""){
            if(marketCountry == "CA"){
              var postalcode = $("#checkout_shipping_address_zip").val();
              var pattern = /^[A-Z][0-9][A-Z][ ][0-9][A-Z][0-9]$/;
              let result = pattern.test(postalcode);
              if(result == false){
                $( "<div class='shopifyInformationError' style='padding-top: 3%;color: red;'>Please enter a valid 6-character postal code with a space in the 'A#A #A#' format.</div>" ).insertAfter( $("#checkout_shipping_address_zip") );
                flagReturn = false;
              }
            }
            if(!flagReturn){
              return false;
            }
          }          
        });
      } else { }

    </script>
    
  <script>
  jQuery( document ).ready(function() {
    var t = window.location.href;
     var isSubstringFound = t.includes("checkouts");
     if(isSubstringFound==true){
         jQuery('a.logo.logo--left.paw--logo.paw--logo-main').css('pointer-events', 'none');
         jQuery('li.cart__breadcrumb.breadcrumb__item').css('pointer-events', 'none');
     }
      var current_url = window.location.href;
      var discount = current_url.split('?')[1];
      if(discount!=undefined){
           if(discount=='step=contact_information'){
              var code = jQuery('.tag__wrapper .reduction-code .reduction-code__text').text();
              if (code !== '' && code !== undefined) {
                  var current_url =   jQuery("a.storefront-return").attr('href');
                  jQuery("a.storefront-return").attr('href',current_url+'?discount='+code);
              }else{
                  var current_url =   jQuery("a.storefront-return").attr('href');
                 var urls = current_url.split('?step')[1];
                 jQuery("a.storefront-return").attr('href',current_url+'?discount=');
             }
            }else{
                var discount_val = current_url.split('&discount=')[1];
                var url =   jQuery("a.storefront-return").attr('href');
               if(discount_val==undefined){
                jQuery("a.storefront-return").attr('href',url+'?discount=');
             }else{
                jQuery("a.storefront-return").attr('href',url+'?discount='+discount_val);
             }
            }
        }else{
            var code = jQuery('.tag__wrapper .reduction-code .reduction-code__text').text();
           var url =   jQuery("a.storefront-return").attr('href');
          jQuery("a.storefront-return").attr('href',url+'?discount=');
        }
      jQuery(document).on('click', '#checkout_submit', function(event) {
        event.stopPropagation();
        var coupon_code = jQuery('#checkout_reduction_code').val();
        var href = jQuery('.storefront-return').attr('href');
        var current_url = window.location.href;
        var str = current_url.replace(/\?.*/, '');
        var final_url =str+'?discount=' + encodeURI(coupon_code);
        window.history.pushState(null,null,final_url);
       const myTimeout = setTimeout(function() {
         if(href!=undefined){
           var myString = href.substring(0, href.indexOf('?'));
           var latest_url = myString + '?discount=' + encodeURI(coupon_code);
           jQuery("a.storefront-return").attr("href",latest_url);
         }
       }, 3000);
      });
    });
    jQuery(document).on('click', 'button.tag__button .icon-svg', function(event) {
        var current_url = window.location.href;
        var test = current_url.substring(0, current_url.indexOf('?'));
        window.history.pushState(null,null,test);
        var return_url = jQuery("a.storefront-return").attr("href",url);
        var final_return_url = current_url.substring(0, current_url.indexOf('='));
        var url =  jQuery("a.storefront-return").attr("href");
        jQuery("a.storefront-return").attr("href",url+'?discount=');
          const myTimeouts = setTimeout(function() {
             var url =  jQuery("a.storefront-return").attr("href");
            jQuery("a.storefront-return").attr("href",url+'?discount=');
          }, 4000);
       });
</script>
    
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  let params = new URL(window.location.href).searchParams;
  let key1 = params.get('OptanonConsent');
  let key2 = params.get('OptanonAlertBoxClosed');
  if(key1 != null){ document.cookie = "OptanonConsent" + "=" + atob(key1); }    
  if(key2 != null){ document.cookie = "OptanonAlertBoxClosed" + "=" + atob(key2); }  
});       
</script>

<style>
  body{
    overflow:auto!important;
  }
</style>
  </body>
</html>
